.rowShow{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-around;
  flex-basis:100%;


}
.rowShow .card{
flex-basis: 19%;


}
.menu-side{
  color: white;
  width: 28px;
  margin-left: 20px;
  display: none;
 
}
 @media only screen and (max-width:1415px){
    
        .rowShow .card{
            flex-basis: 24%;
          }
        .menu-side{
          display: block;
        }
         
        }
@media only screen and (max-width:1200px){
    
  
    .rowShow .card{
        
        display: flex;
        flex-basis: 40%;
      }
    }

    @media only screen and (max-width:750px){
      .mainbody{

        margin-top: 25px;
      }
      .rowShow {

        margin-top: 50px;

      }   
        .rowShow .card{
            margin-left: 10px;
            margin-right: 10px;
           
            display: flex;
            flex-basis: 70%;
          }
         
        }
    
/* slider */
::selection{
    color: #fff;
    background: #17A2B8;
  }
  .wrapper{
    width: 100%;
    background: #fff;
    flex-basis: 100%;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  }
  header h2{
    font-size: 24px;
    font-weight: 600;
  }
  header p{
    margin-top: 5px;
    font-size: 16px;
  }
  .price-input{
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
  }
  .price-input .field{
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17A2B8;
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  .review{
      margin-top: 20px;
  }
  .hov{

    color: black
  }
  .hov:hover{
      color: orange;
  }


  @media only screen and (max-width:1415px){
    
  .side{
    display: none;
    width: 0px;
    height: 0px;

  }
    .mainbody{
      flex-basis: 100%;
      overflow: hidden;
    }
    .menu-side{
      display: block;
      cursor: pointer;
    }
 
  }

   

/* .rowh {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rowh .card-img-top {
    height: 250px;
    width: 100%;
  } */