.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .navbar img {
    margin-bottom: 20px;
  }
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    color: #ffffff;
    margin-right: 20px;
  }
  nav ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav ul li i{
      display: inline-block;
      color: #ffffff;
  }
  nav ul li i::after{
      content: "";
      width: 0%;
      height: 2px;
      background: #ec1000;
      display: block;
      margin: auto;
      transition: 0.5s;  
  }
  nav ul li i:hover::after{
      width: 0%;
  }
  
  nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #ec1000;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  nav ul li:hover::after {
    width: 100%;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .header {
    width: 100%;
    background: radial-gradient(rgb(102, 101, 101), #000000);
  }