* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .search{
      border-radius: 7px;
      margin-right: -20px;
      margin-left: 200px;
      width: 250px;
     
  }
  .scB{
      margin-right: 120px;
     
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .navbar img {
    margin-bottom: 20px;
  }
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  nav ul li {
    display: inline-block;
    color: #ffffff;
    margin-right: 20px;
  }
  nav ul li a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav ul li i{
      display: inline-block;
      color: #ffffff;
  }
  nav ul li i::after{
      content: "";
      width: 0%;
      height: 2px;
      background: #ec1000;
      display: block;
      margin: auto;
      transition: 0.5s;  
  }
  nav ul li i:hover::after{
      width: 0%;
  }
  
  nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #ec1000;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  nav ul li:hover::after {
    width: 100%;
  }
  .categories {
    margin-top: 70px;
    margin-left: 45px;
    margin-right: 45px;
  }
  .btn btn-primary {
    margin-left: 20px;
  }
  .col3 {
    flex-basis: 15%;
  
    margin-bottom: 30px;
  }
  
  p {
    color: #555;
  }
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body {
    
  }
  .mainbody  a{
    
    color: #000000;
    text-decoration: none;
    
  
  }
  .mainbody  a:hover{
      color: #000;
      text-decoration: none;
  
  }
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  .sl {
    flex-basis: 40%;
  }
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
  }
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
  
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  #btnExplore {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    text-decoration: none;
    margin: 30px 0 0 41.6666666667%;
    border-radius: 30px;
    transition: background 0.5s;
  }
  #btnExplore:hover {
    background: #90cdd8;
  }
  
  .btn:hover {
    background: #90cdd8;
  }
  
  .header {
    width: 100%;
    background: radial-gradient(rgb(102, 101, 101), #000000);
  }
  .header .row {
    margin-top: 70px;
  }
  figure {
    overflow: hidden;
  }
  .card-img-top {
    height: 350px;
    width: 100%;
  }
  
  .card {
    flex-basis: 19%;
    min-width: 250px;
    margin-top: 30px;
    height: auto;
    margin-bottom: 30px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  /* Animation */
  .card:hover {
    transform: translateY(-10px);
  }
  /* zoom */
  .card #zoom-IN img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
  }
  .card #zoom-IN:hover img {
    transform: scale(1.5);
  }
  .smallcontainer {
    max-width: 60%;
    height: auto;
  }
  .card a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
  }
  .card  a:hover {
    color: #000000;
    text-decoration: none;
  }
  .menu-icon{
    color: white;
    width: 28px;
    margin-left: 20px;
    display: none;
  }
  .rowP {
    width: 100%;
    display: flex;
  }
  .mainbody {
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-right: 20px;
    background: #ffffff;
  }
  .side {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 19%;
    justify-content: space-around;
    width: 20%;
   
   
  }
  /* all Product style */
  .Title {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: space-between;
    margin-right: 10px;
    width: 100%;
    flex-basis: 100%;
  }
  .Title h2 {
  }
  
  .btnP{
    display: inline-block;
    background: #000000;
    color: rgb(131, 0, 0);
    padding: 8px 30px;
    margin: 10px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  .btnP:hover {
    background: #8b8181;
    color: #f01515;
  }
  .btnH {
    display: inline-block;
    background: #000000;
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    margin: 10px 0;
    margin-left: 15%;
    border-radius: 30px;
  
    transition: background 0.5s;
  }
  
  .btnH:hover {
    content: "\2661";
  }
  #span::after {
    content: "\2764";
  }
  #span::after:hover {
    content: "\2764";
  }
  .fa-heart-o {
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .fa-heart {
    color: red;
    cursor: pointer;
  }
  .im {
    height: 0%;
  }
  
  .Advertise {
    display: flex;
    margin-top: 15px;
    padding-bottom: 25px;
    max-width: 1800px;
    margin: auto;
  }
  .cat {
    margin-top: 70px;
    margin-left: 45px;
    margin-right: 45px;
  }
  
  .rowh {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rowh .card-img-top {
    height: 250px;
    width: 100%;
  }
  .page-btn{
      width: 100%;
      margin-left: 21%;
      margin-bottom: 1%;
  }
  .page-btn span{
      display: inline-block;
      border: 1px solid #ff523b;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
  
  }
  .page-btn span:hover{
      background: #ff523b;
      color: #ffffff;
  }
  
  
  /* Footer */
  .footer {
    background-color: #24262b;
    padding: 70px 0;
  }
  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }
  .sear{
    margin-left:250px ;
    width: 350px;
    border-radius: 8px;
  }
  .search-icon{
    margin-top: 18px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
  }
  .searchicon{
    display: none;
    
  }
  /*responsive*/
  @media (max-width: 767px) {
    .footer-col {
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px) {
    .footer-col {
      width: 100%;
    }
  }
  @media only screen and (max-width:1320px){
    .sear{
      display: none;
    }
    .search-icon{
      display: none;
    }
  
  }
  @media only screen and (max-width:992px){
    .sear{
      display: none;
    }
    .search-icon{
      display: none;
    }
    #btnExplore {
      margin-bottom: 15px;
      margin-left: 35%;
    }
  
  }
  /* -----media query for menu  */
  @media only screen and (max-width:760px){
    nav ul{
      position: absolute;
      top: 70px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
  
    }
    nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
  
  
      
    }
    .searchicon{
      display: block;
      
    }
    .menu-icon{
      display: block;
      cursor: pointer;
    }
    #btnExplore {
      margin: 10px 20px 20px 35%;
    }
  }
    
  
  /* Rifa  */
  .work-experience
  {
   
   flex-basis: 25%;
    
    min-width: 500px;
    margin-top: 30px;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    
  
  }
  
  .professional-experience
  {
  
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  
  
  
  
  
  .professional-experience .card
  {
    background-color:#e4cfd4;
    
    
         border-radius: 5px;
         padding: 10px;
         transition: 0.3s;
         height: 400px;
         align-items: center;
  
  }
  
  
  .card-desc
  {
   
    margin-left: 60px;
    text-align: center;
    margin-right: 40px;
  }
  
  .card:hover
  {
     box-shadow: 0 4px 8px 5px black;
  
  }
  
  .card-icon
  {
    text-align: center;
  
  }
   .card-icon img
   {
     margin-top: 20 px;
     width: 120px;
   }
  
   .rounded-img
   {
  
   
    border-radius: 60%;
    padding: 5px;
   }
   .card-title h3
   {
    background-color:#e4cfd4;
      color: black;
      padding: 10px;
      text-align: center;
      font-size: 1.5 rem;
   }
  .professional-experience:after
  {
    clear: both;
    display: table;
    content: " " ;
  }
  
  .checked {
    color: orangered;
    
    
  }
  
  .ratting
  {
    padding: 15px;
   
  }
  
  