@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn{
  display: inline-block;
  
  background: red;
  color: rgb(236, 31, 31);
  padding: 8px 30px ;
  margin: 20px 0;
  border-radius: 30px;
  transition:background 0.5s;

}
.btn:hover{
  background:  #563434;
}

.single_product{
  margin-top: 80px;
}
.single_product .colClass img{
  padding: 0px;
}
.single_product .colClass{
  padding:20px;
}
.single_product h4{
  margin:20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single_product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.qty{
  margin-top: 20px;
}
.btn_inc_dec{
  padding: 3px 10px ;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.btn_inc_dec:hover{
  background-color: dodgerblue;
  color: #ffffff;
  border-color:#081621;
}
#in{
  border: 0px;
  text-align: center;
}
.small_pic{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.small_pic_col{
  margin-top: 10px;
  flex-basis: 24%;
  cursor: pointer;
}

figure {
  overflow: hidden;
  

}
.card-img-top{
  height: 350px;
  width: 100%;
}

.card{
  
  flex-basis: 19%;
  min-width: 250px;
  margin-top: 30px;
  height: auto;
  margin-bottom: 30px;
  cursor: pointer;
  transition: transform 0.5s;
}
.card:hover{
transform: translateY(-10px);
  
}
.card #zoom-IN img {

  transform: scale(1);
  transition: 0.3s ease-in-out;


}
.card #zoom-IN:hover img {
  transform: scale(1.5);

}
#productImg{
  overflow: hidden;
}


.cat2{
  margin-top: 70px;
  margin-left: 170px;
  margin-right: 100px;
}
.rowh2{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rowh2 .card {
  flex-basis: 24%;
}




















